!!! 5
html(lang = "ja")
  head
    title ScrollSpy
    meta(charset = "UTF-8")
    link(href="common/css/main.css", media="all", rel="stylesheet", type="text/css")
    script(src = "common/js/libs/modernizr.min.js")
  body

    h1 ScrollSpy
    div.frame-all
      div.mod-blk.mod-blk1#blk1(data-target="n1") blk1
      div.mod-blk.mod-blk2#blk2(data-target="n2") blk2
      div.mod-blk.mod-blk3#blk3(data-target="n3") blk3
      div.mod-blk.mod-blk4#blk4(data-target="n4") blk4
      div.mod-blk.mod-blk5#blk5(data-target="n5") blk5

    nav.mod-gnav#gnav
      li.n1#n1: a(href="#blk1") blk1
      li.n2#n2: a(href="#blk2") blk2
      li.n3#n3: a(href="#blk3") blk3
      li.n4#n4: a(href="#blk4") blk4
      li.n5#n5: a(href="#blk5") blk5

    div.mod-hitline

    div.frame-footer
      | Copyright © makitasako.com
      p
        a(href="https://github.com/ANTON072/ScrollSpy.js")
          | GitHub

    script(src = "common/js/libs/almond.min.js")
    script(src = "common/js/libs/vendor.js")
    script(src = "common/js/main.js")