@import '../../node_modules/nib'

global-reset()
reset-html5()
@import "./libs/_cssfonts.styl"
@import "./libs/_utils.styl"

body
  background #CCC
  font-size 12px

h1
  font-size 50px;
  text-align center
  font-weight bold
  padding 1.5em

.frame-all
  width 640px
  margin 0 auto

.frame-footer
  text-align center
  padding 50px 0

.mod-blk
  font-size 20px

.mod-blk1
  height 400px
  background red

.mod-blk2
  height 400px
  background purple

.mod-blk3
  height 400px
  background green

.mod-blk4
  height 400px
  background yellow

.mod-blk5
  height 400px
  background orange

.mod-hitline
  height 1px
  background #000
  position fixed
  top 50%
  width 100%

.mod-gnav
  position fixed
  top: 100px
  left 0
  li
    list-style-type none
    line-height 3
    width 5em
    margin-bottom 1px
    a
      display block
      background #666
      text-align center
    &.n1 a.on
      background red
    &.n2 a.on
      background purple
    &.n3 a.on
      background green
    &.n4 a.on
      background yellow
    &.n5 a.on
      background orange
